.header {
  padding: 1.5rem;
  background-color: none;
  transition: all 0.3s ease-in-out;
  /* top: 0; */
  width: inherit;
  /* position: relative; */
  /* border: 2px solid yellow; */
}
.header__content {
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .header--scrolled {
  background-color: var(--secondaryColor);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
} */
ul {
  list-style: none;
}

a {
  background-color: inherit;
  text-decoration: none;
  color: inherit;
}

.nav__list {
  background-color: inherit;
  display: flex;
  column-gap: 1rem;
}

.nav__link {
  font-weight: 500;
  font-size: 15px;
  color: inherit;
  transition: all 0.3s;
}

.nav__link__active {
  font-weight: 500;
  font-size: 15px;
  color: var(--primaryColor);
  transition: all 0.3s;
}

.nav__link:hover {
  color: var(--primaryColor);
}

.logo {
  font-size: 1.35rem;
  letter-spacing: -1.5px;
  font-weight: 500;
  color: var(--primaryColor);
}
.searchbtn {
  outline: none;
  flex-grow: 1;
  max-width: 600px;
  font-size: 1.2rem;
  font-weight: normal;
  padding: 0.25rem;
  margin: 0 1.5rem;
  border-radius: 5px;
}

input.searchbtn:focus {
  border-color: var(--primaryColor);
  border-width: 3px;
}

.searchbtn__mobile {
  display: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  height: 2px;
  width: 27px;
  background: #fff;
  margin: 5px 0;
  opacity: 0.8;
}

.nav--open {
  transform: translate(0%) !important;
}

@media (width >= 1080px) {
  .header {
    max-width: 1080px;
  }
}

@media (width <= 650px) {
  .searchbtn {
    display: none;
  }

  .header {
    background-color: var(--secondaryColor);
  }

  .nav {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 10px 0 25px;
    background-color: inherit;
    transform: translateY(-150%);
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    row-gap: 1.5rem;
  }

  .searchbtn__mobile {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.25rem;
    margin: 0.5rem auto;
    border-radius: 5px;
  }

  .nav__link {
    font-weight: 500;
    font-size: 15px;
  }

  .hamburger {
    display: block;
  }
}
