.booking__container {
  margin: auto 20px;
}

.booking__modal {
  max-width: 650px;
  margin: 0 auto;
  z-index: 1;
  padding: 40px;
  text-align: center;
  color: var(--fontColor);
  background-color: var(--ternaryColor);
  border-radius: 15px;
  border: 2px solid var(--primaryColor);
}

.booking__modal > h2 {
  font-size: 20px;
  margin-bottom: 1.75rem;
}

.booking__btn {
  background-color: var(--secondaryColor);
}

.booking__seatselection {
  margin: 1rem auto;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
  /* margin-bottom: 1.75rem; */
}

.dialog-open {
  overflow: hidden;
}

.booking__container.dialog-open::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  filter: blur(5px);
  z-index: 1;
}

.booking__seatselection > button {
  padding: 8px;
  border-radius: 20%;
}

.booking__seatselection > button:focus {
  color: var(--ternaryColor);
  background-color: var(--primaryColor);
  border: 2px solid var(--secondaryColor);
}

@media (width <= 1600px) {
  .booking__modal {
    /* width: 600px; */
  }
  .booking__seatselection > button > h3 {
    font-size: 16px;
  }
  /* .booking__seatselection > button {
    padding: 6px;
  }
  .booking__seatselection > button > h3 {
    font-size: 16px;
  } */
}

@media (width <= 1080px) {
  .booking__seatselection {
    margin-bottom: 20px;
  }
}

@media (width <= 425px) {
  .booking__modal {
    width: 350px;
    margin: 40% auto;
  }
  .booking__seatselection {
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
    overflow: scroll;
  }
}
