.movie__section {
  margin-top: 3rem;
  padding: 0 10px;
}

.movies__content {
  position: relative;
}

.movies__list {
  margin-top: 1rem;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overscroll-behavior-x: contain;
  column-gap: 10px;
}

.movie__grid {
  display: grid;
  margin: 0 20px;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* column-gap: 10px; */
  row-gap: 20px;
}

.movie__card {
  cursor: pointer;
  width: 200px;
  aspect-ratio: 1 / 2;
}

.movie__card > img {
  width: 200px;
  object-fit: contain;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}
.movie__title {
  font-size: 500;
  font-weight: normal;
}

.left__arrow,
.right__arrow {
  position: absolute;
  cursor: pointer;
  font-size: 25px;
  padding: 10px;
  outline: 0;
  border-radius: 15px;
  border: 2px solid var(--fontColor);
  color: var(--fontColor);
  background-color: var(--secondaryColor);
}

.left__arrow:active,
.right__arrow:active {
  border: 2px solid var(--primaryColor);
  color: var(--primaryColor);
}

.left__arrow {
  top: 40%;
  left: 0%;
}

.right__arrow {
  top: 40%;
  right: 0%;
}

.btn__viewall {
  margin-right: 5%;
  cursor: pointer;
}

.resultNotFound {
  display: grid;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
}

@media (width <= 720px) {
  .left__arrow,
  .right__arrow {
    display: none;
  }

  .movies__list {
    margin: 10px 0;
    overflow-x: scroll;
    gap: 10px;
  }

  .movie__grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    row-gap: 50px;
  }
}

@media (width <= 580px) {
  .movie__card > img {
    width: 150px;
  }

  .movie__grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    row-gap: 50px;
  }
}
