@font-face {
  font-family: firstFont;
  src: url(assets/font1.ttf);
}

@font-face {
  font-family: secondFont;
  src: url(assets/font2.ttf);
}

/* BASE STYLES */
:root {
  --primaryColor: #fb7726;
  --secondaryColor: #262626;
  --ternaryColor: #111010;
  --fontColor: #ffffff;
  --text-mobile: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: firstFont, secondFont;
  background-color: var(--ternaryColor);
  color: var(--fontColor);
  scroll-behavior: smooth;
}
.container {
  /* padding: 0 10px; */
  max-width: 1080px;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Movie Grid Styling */
.gridmovie__section {
  margin-top: 1.5rem;
  padding: 0 10px;
}

.section__title {
  margin-left: 1rem;
}

.gridmovie__title {
  font-size: 500;
  font-weight: normal;
  text-wrap: balance;
}

.gridmovie__grid {
  display: grid;
  margin: 0 20px;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  /* column-gap: 10px; */
  /* row-gap: 20px; */
}

.gridmovie__card {
  width: 10rem;
  aspect-ratio: 1 / 1.9;
}

.gridmovie__card > img {
  max-width: 100%;
  object-fit: contain;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

@media (width <= 425px) {
  .gridmovie__title {
    font-size: 1rem;
  }
}

@media (width <= 425px) {
  .gridmovie__card {
    width: 7.5rem;
    aspect-ratio: 1 / 2;
  }

  .gridmovie__grid {
    grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
    column-gap: 2px;
  }
}

/* Loader styling */
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 40%;
  margin-top: 50px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

@media (width <= 720px) {
  .lds-facebook {
    width: 50px;
    height: 50px;
  }
}

@media (width <= 580px) {
  .lds-facebook {
    width: 30px;
    height: 30px;
  }
}
